@import "_media";
@import "_fonts";
@import "../../node_modules/normalize.css/normalize";
@import "../../node_modules/slick-carousel/slick/slick";

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}

body,
html {
    padding: 0;
    margin: 0;
    color: #131313;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;

}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header{
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}
.menu{
    margin-right: 70px;
    &__list{
        display: flex;
        justify-content: space-between;
    }
    &__item{
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 20px;
    padding: 43px 20px;
    transition: all .3s;
    &:hover {
        color: #ffffff;
        background-color: #131313;
    }
    & + .menu__item{
        padding-left: 10px;
    }
    }
}
.bike {
    padding: 100px 0 150px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-size: 64px;
        font-weight: 700;
        line-height: 77px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0 0 5px;
    }
    &__subtitle{
        margin: 0 0 60px;
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;
        color: #6F6F6F;
    }
    &__text{
        max-width: 420px;
        margin-bottom: 20px;
    }
    &__link{
        display: inline-block;
        background-color: #131313;
        padding: 28px 81px;
        text-transform: uppercase;
        color: #ffffff;
        letter-spacing: 15px;
    }
    &__column-slider{
        flex-basis: 630px;
        margin-left: 30px;
    }
}
